body {
background: #8E0E00; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #8E0E00 , #1F1C18); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #8E0E00 , #1F1C18); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
	
}
.login_wind {
	margin-top: 100px;
	background-color: Red;
	text-align: center;
	padding-bottom: 20px;

}
.login_wind li{
	list-style-type: none;
	
}
.login_wind ul{
	margin: 0;
}
.loginbutt {
	text-decoration: none;
}